:root {
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #bdbdbd;
}

/* Reset */
body,
p,
h1 {
  margin: 0;
}

/* Styles */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  margin: 1.2rem;
}

header p {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: -0.08em;
  color: var(--gray-1);
}

main {
  font-family: "Space Mono", monospace;
  letter-spacing: -0.035em;
  flex: 1 0 auto;
  margin: 1.2rem 0 3rem 0;
}

main div:first-of-type {
  margin-bottom: 1.2rem;
}

main img {
  display: block;
  max-width: 270px;
  margin: 0 auto;
}

main h1 {
  font-weight: 700;
  font-size: 48px;
  color: var(--gray-1);
  margin-bottom: 1.2rem;
}

main p {
  font-weight: 400;
  font-size: 18px;
  color: var(--gray-2);
  margin-bottom: 2.4rem;
}

main a {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--gray-1);
  color: white;
  padding: 1.2em 2.4em;
  display: inline-block;
}

footer {
  font-family: "Montserrat", sans-serif;
  align-self: center;
}

footer p {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-3);
}

footer p span {
  font-weight: 700;
  text-decoration: underline;
}

@media (min-width: 900px) {
  body {
    justify-content: space-between;
  }

  main {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-grow: 0;
    max-width: 1800px;
    align-self: center;
  }

  main div:last-of-type {
    margin-left: 5rem;
  }

  main img {
    max-width: 539.22px;
  }

  main h1 {
    font-size: 64px;
    max-width: 15ch;
  }

  main p {
    font-size: 24px;
    max-width: 26ch;
  }
}
