:root {
  --gray-1: #333333;
  --gray-2: #4f4f4f;
  --gray-3: #bdbdbd;
}

/* Reset */
body,
p,
h1 {
  margin: 0;
}

/* Styles */
header p {
  font-family: "Inconsolata", monospace;
  font-size: 24px;
  text-transform: uppercase;
  letter-spacing: -0.08em;
  color: var(--gray-1);
}

main {
  font-family: "Space Mono", monospace;
  letter-spacing: -0.035em;
}

main img {
  max-width: 80%;
}

main h1 {
  font-weight: 700;
  font-size: 48px;
  color: var(--gray-1);
  max-width: 15ch;
}

main p {
  font-weight: 400;
  font-size: 18px;
  color: var(--gray-2);
  max-width: 26ch;
}

main a {
  font-weight: 700;
  font-size: 14px;
  text-transform: uppercase;
  text-decoration: none;
  background-color: var(--gray-1);
  color: white;
  padding: 1.2em 2.4em;
  display: inline-block;
}

footer {
  font-family: "Montserrat", sans-serif;
  align-self: center;
}

footer p {
  font-weight: 500;
  font-size: 14px;
  color: var(--gray-3);
}

footer p span {
  font-weight: 700;
  text-decoration: underline;
}
